In [ ]:
! pip list

In [1]:
import pandas as pd

data_ = pd.read_csv('tx_data.csv')
data = pd.DataFrame(data_)

data['phone_number'] = data['phone_number'].apply(lambda x : '+62' + str(x))
data['transaction_amount'] = data['transaction_amount'].apply(lambda x : 'Rp ' + str(x))
data = data[data['transaction_status'] == 'success']

data

,transaction_id,customer_name,transaction_amount,phone_number,transaction_type,transaction_status
0,1,John Thor,Rp 54000,+6281234564030,paket data,success
1,2,Jane Smith,Rp 25000,+6281234567891,pulsa,success
3,4,Emily Davis,Rp 32000,+6281234567893,paket data,success
5,6,Susan Anderson,Rp 61000,+6281234567895,voucher game,success
6,7,Robert Clark,Rp 29000,+6281234567896,pulsa,success
...,...,...,...,...,...,...
113,114,Sharon Anderson,Rp 61000,+6281234567823,pulsa,success
114,115,David Davis,Rp 29000,+6281234567824,ewallet,success
115,116,Mary Hall,Rp 48000,+6281234567825,paket data,success
117,118,Elizabeth Turner,Rp 54000,+6281234567827,pulsa,success
118,119,Robert Smith,Rp 25000,+6281234567828,voucher game,success