In [ ]:
! pip list

* Normalization (min to max)

In [22]:
import pandas as pd

data = pd.read_csv('house_listings.csv')

data['price'] = data['price'].str.replace(' ','')
data['price'] = pd.to_numeric(data['price'], errors='coerce')
min_price = data['price'].min()
max_price = data['price'].max()

price_min_max_scaled_value = []

for price in data['price']:
    min_max = (price-min_price)/(max_price-min_price)
    price_min_max_scaled_value.append(min_max)

data['price_1m2'] = data['price_1m2'].str.replace('AZN/m²','')
data['price_1m2'] = data['price_1m2'].str.replace(' ','')
data['price_1m2'] = pd.to_numeric(data['price_1m2'], errors='coerce')
min_price_1m2 = data['price_1m2'].min()
max_price_1m2 = data['price_1m2'].max()

price_1m2_min_max_scaled_value = []

for price_per_m in data['price_1m2']:
    min_max = (price_per_m-min_price_1m2)/(max_price_1m2-min_price_1m2)
    price_1m2_min_max_scaled_value.append(min_max)

normalized_data = pd.DataFrame({'price': data['price'], 'price_min_max_scaled_value': price_min_max_scaled_value, 'price/m^2':data['price_1m2'], 'price_1m2_min_max_scaled_value':price_1m2_min_max_scaled_value })
normalized_data.head(20)

,price,price_min_max_scaled_value,price/m^2,price_1m2_min_max_scaled_value
0,137000.0,0.021298,2630.0,0.116922
1,183000.0,0.030369,1790.0,0.076321
2,145000.0,0.022875,2230.0,0.097588
3,190000.0,0.031749,2000.0,0.086471
4,294000.0,0.052258,1550.0,0.064720
5,87000.0,0.011438,1930.0,0.083088
6,550000.0,0.102741,2530.0,0.112089
7,125000.0,0.018931,2160.0,0.094205
8,150000.0,0.023861,2730.0,0.121756
9,62000.0,0.006508,1510.0,0.062787
10,375000.0,0.068231,2270.0,0.099521
11,729000.0,0.138040,3390.0,0.153657
12,365000.0,0.066259,2090.0,0.090821
13,105000.0,0.014987,1240.0,0.049737
14,90000.0,0.012029,1410.0,0.057954
15,280000.0,0.049497,2060.0,0.089371
16,235000.0,0.040623,1960.0,0.084538
17,153000.0,0.024453,1910.0,0.082121
18,142000.0,0.022284,2220.0,0.097105
19,950000.0,0.181621,4040.0,0.185074

* Encoding Data Kategorikal -One Hot Encoding

In [28]:
encoded_data = pd.get_dummies(data, columns=['category', 'title_deed', 'repair', 'mortgage'])
df_encoded_data=pd.DataFrame(encoded_data)
df_encoded_data.head(10)

,price,currency,price_1m2,title,address,floor,area,url,room_number,category_Köhnə tikili,category_Yeni tikili,title_deed_var,title_deed_yoxdur,repair_var,repair_yoxdur,mortgage_var
0,137 000,AZN,2 630 AZN/m²,"Satılır 3 otaqlı köhnə tikili 52 m², 8-ci kilo...",Elşən Süleymanov küç 137,7 / 9,52 m²,https://bina.az/items/3858477,3.0,True,False,True,False,True,False,False
1,183 000,AZN,1 790 AZN/m²,"Satılır 2 otaqlı yeni tikili 102 m², Neftçilər m.",Mehdi Abbasov küçəsi,2 / 17,102 m²,https://bina.az/items/3858493,2.0,False,True,False,True,True,False,False
2,145 000,AZN,2 230 AZN/m²,"Satılır 2 otaqlı köhnə tikili 65 m², Nərimanov r.",Atatürk Prospekti,6 / 9,65 m²,https://bina.az/items/3858489,2.0,True,False,True,False,True,False,True
3,190 000,AZN,2 000 AZN/m²,"Satılır 3 otaqlı köhnə tikili 95 m², Gənclik m.",Atatürk pr.,4 / 9,95 m²,https://bina.az/items/3858491,3.0,True,False,True,False,True,False,True
4,294 000,AZN,1 550 AZN/m²,"Satılır 3 otaqlı yeni tikili 190 m², Nəsimi r.",Möhsün Sənani küçəsi,6 / 16,190 m²,https://bina.az/items/3858488,3.0,False,True,True,False,False,True,False
5,87 000,AZN,1 930 AZN/m²,"Satılır 1 otaqlı köhnə tikili 45 m², Nəsimi m.",Svetlana Məmmədova 210,5 / 5,45 m²,https://bina.az/items/3845898,1.0,True,False,True,False,True,False,False
6,550 000,AZN,2 530 AZN/m²,"Satılır 5 otaqlı yeni tikili 217 m², Nəriman N...",Qarabağ küç 55,15 / 19,217 m²,https://bina.az/items/3719344,5.0,False,True,False,True,True,False,False
7,125 000,AZN,2 160 AZN/m²,"Satılır 2 otaqlı yeni tikili 58 m², Yeni Yasam...",Məhəmməd Xiyabani küçəsi,7 / 16,58 m²,https://bina.az/items/3858490,2.0,False,True,False,True,True,False,False
8,150 000,AZN,2 730 AZN/m²,"Satılır 2 otaqlı köhnə tikili 55 m², Nizami m.",Nəriman Nərimanov pr.,2 / 6,55 m²,https://bina.az/items/3788954,2.0,True,False,True,False,True,False,False
9,62 000,AZN,1 510 AZN/m²,"Satılır 2 otaqlı yeni tikili 41 m², Masazır q.",İstiqlaliyyət küçəsi,3 / 10,41 m²,https://bina.az/items/3858482,2.0,False,True,True,False,True,False,True

* Agregasi Data

In [36]:
data = pd.read_csv('house_listings.csv')
data['price'] = data['price'].str.replace(' ','')
data['price'] = pd.to_numeric(data['price'], errors='coerce')

grouped_data = data.groupby(['room_number', 'category'])['price']

aggregated_data_mean = grouped_data.mean()
aggregated_data_median = grouped_data.median()
aggregated_data_modus = grouped_data.apply(lambda x: x.mode().iloc[0])

aggregated_data = pd.DataFrame({'Rata-rata': aggregated_data_mean, 'Median': aggregated_data_median,'Modus': aggregated_data_modus})
aggregated_data

                             Rata-rata     Median      Modus
room_number category
1.0         Köhnə tikili  9.134851e+04    88000.0    95000.0
            Yeni tikili   1.222027e+05   120000.0   130000.0
2.0         Köhnə tikili  1.200298e+05   115000.0   120000.0
            Yeni tikili   1.641581e+05   155000.0   145000.0
3.0         Köhnə tikili  1.666889e+05   153500.0   175000.0
            Yeni tikili   2.553884e+05   245000.0   250000.0
4.0         Köhnə tikili  2.116755e+05   180000.0   165000.0
            Yeni tikili   4.055463e+05   370000.0   350000.0
5.0         Köhnə tikili  2.765835e+05   201500.0   220000.0
            Yeni tikili   6.278174e+05   520000.0   450000.0
6.0         Köhnə tikili  6.251208e+05   500000.0   275000.0
            Yeni tikili   8.421765e+05   750000.0  1000000.0
7.0         Köhnə tikili  7.716250e+05   625000.0   165000.0
            Yeni tikili   1.040785e+06   880000.0   342000.0
8.0         Köhnə tikili  1.157980e+06   900000.0   749900.0
            Yeni tikili   1.675839e+06  1280000.0   560000.0
9.0         Yeni tikili   1.431667e+06  1195000.0   800000.0
10.0        Köhnə tikili  2.700000e+06  2700000.0  2700000.0
            Yeni tikili   1.843667e+06  1600000.0  2490000.0
11.0        Yeni tikili   1.984000e+06  1984000.0  1700000.0
12.0        Köhnə tikili  2.000000e+06  2000000.0  2000000.0
14.0        Yeni tikili   1.050000e+06  1050000.0  1050000.0
15.0        Yeni tikili   3.190625e+06  3000000.0  3000000.0